<form method="post" action="{{ path('produit_delete', {'id': produit.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ produit.id) }}">
    {% if is_edit is defined and is_edit %}
    <a class="btn btn-info delete-btn delete_icon btn-fill" alt="Produit '{{ produit }}'?">Supprimer</a>
    {% else %}
    <a href="javascript:void(0);" onclick="" class="delete_icon" alt="Produit '{{ produit }}'?"><img src="/static/img/delete-icon.png" /></a>
    {% endif %}
</form>