{% extends 'base-breadcrumb-tabs.html.twig' %}

{% set delete_button="produit/_delete_form.html.twig" %}

{% block titre %}Modifier un produit{% endblock %}

{% block breadcrumb %}
    {% set breadcrumb = {'main': app_name, 'root': 'Produit',
        (path('produit_index')) : 'Gestion produit' , 
        'no-link': block('titre')} %}
    {% include "breadcrumb.html.twig" %}
{% endblock %}

{% block tabContent %}
    {% if produit.id and produit.image is not null %}
    <div class="produit_image" style="text-align:center;">
        <img class="border-gray" style="width:20%" src="data:image/png;base64,{{ produit.encodedImage }}" alt="...">
    </div>
    {% endif %}
	{{ include('produit/_form.html.twig') }}
{% endblock %}