{% extends 'base-breadcrumb.html.twig' %}

{% block titre %}Etat des stocks{% endblock %}


{% block breadcrumb %}
    {% set breadcrumb = {'main': app_name, 'root': 'Produit',
        'no-link2' : 'Stock' , 
        'no-link': block('titre')} %}
    {% include "breadcrumb.html.twig" %}
{% endblock %}

{% block class_title_icon %}nc-icon nc-notes{% endblock %}

{% block contenu %}
    <table class="table table-hover table-striped" id="liste-table">
        <thead>
            <tr>
                        <th>Nom</th>
                        <th>Stock</th>
                        
                    
            </tr>
        </thead>
        <tbody>
        {% for produit in produits %}
            <tr>
                <td>{{ produit.nom }}</td>
                <td>{{ produit.stocks }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}


