{% extends "base-breadcrumb.html.twig" %}

{% block breadcrumb %}
    {% set breadcrumb = {"main": 'Page en cours de construction', 
            } %}
    {% include "breadcrumb.html.twig" %}
{% endblock %}

{% block class_title_icon %}nc-icon {% endblock %}

{% block contenu %}
                <div class="container-fluid">
                    <div class="col d-flex align-items-center justify-content-center">           
                        <div class="text-center">
                            <img src="/static/img/construction.gif" class="rounded" alt="..." style="max-width: 250px;">
                        </div>
                    </div>
                </div>
{% endblock %}