{% extends 'base-breadcrumb-tabs.html.twig' %}

{% block titre %}Modification permissions{% endblock %}

{% set user = auth_user %}

{% block breadcrumb %}
    {% set breadcrumb = {'main': 'Administration système',
        (path('auth_user_index')): 'Gestion utilisateur',
        (path('auth_user_edit', {'id': auth_user.id})): auth_user,
         'no-link': block('titre')} %}
    {% include "breadcrumb.html.twig" %}
{% endblock %}

{% block block_js %}
    <script src="/static/js/add-collection-widget.js " type="text/javascript"></script>
    <script src="/static/js/jquery.multi-select.js" type="text/javascript"></script>
    <script src="/static/js/jquery.quicksearch.js" type="text/javascript"></script>
    <script src="/static/js/initialise_multiple_select.js" type="text/javascript"></script>
{% endblock %}


{% block block_css %}
    <link href="/static/css/multi-select.css" media="screen" rel="stylesheet" type="text/css">
{% endblock %}


{% block tabContent %}
    <form action="" method="post" enctype="multipart/form-data">
        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                     <label for="" class=" requiredField">
                                                         Groupes
                                                     </label>
                                                     <div class="">
                                                         {{ form_widget(form.groups, {'attr': {'class': 'form-control select-multiple-searchable'}}) }}
                                                     </div>
                                                 </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                     <label for="" class=" requiredField">
                                                         Permissions
                                                     </label>
                                                     <div class="">
                                                         {{ form_widget(form.permissions, {'attr': {'class': 'form-control select-multiple-searchable'}}) }}
                                                     </div>
                                                 </div>
                                            </div>
                                        </div>
                                                     
                                        
                                        <div class="clearfix"></div>
                                        {{ form_widget(form._token) }}
                                    </form>
                                        {% include "save-button.html.twig" %}
{% endblock %}

